table.bt tfoot th, table.bt tfoot td, table.bt tbody td {
    border: 0;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: top;
    float: left\9;
    width: 100%\9;
    align-items: center;
    padding: 0px;
}
table.bt tbody tr {
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    display: block;
}
table.bt tfoot th .bt-content, table.bt tfoot td .bt-content, table.bt tbody td .bt-content {
    vertical-align: top;
    display: block;
    padding: 0 15px;
}
table.bt tfoot th::before, table.bt tfoot td::before, table.bt tbody td::before {
    content: attr(data-th) ": ";
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    font-weight: bold;
    width: 50%;
    padding: 15px;
    background: rgba(234, 234, 234, .5);
}
table.bt tbody td p, table.bt thead tr p {
    margin-bottom: 0px;
    word-break: break-word;
}